<p id="notice"><%= notice %></p>

      <div class="carousel slide" id="screenshot-carousel" data-rise="carousel" >
      <!-- style="width:500px;margin:auto;" -->
      <!-- Variable Carousel -->
        <ol class="carousel-indicators">
          <% @listing.avatars.each_with_index do |picture, index| %>
            <% if index == 0 %>
              <li data-target="screenshot-carousel" data-slide-to="#{index}" class="active"></li>            
            <% else %>
              <li data-target="screenshot-carousel" data-slide-to="#{index}"></li>
            <% end %>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @listing.avatars.each_with_index do |picture, index| %>
            <% if index == 0 %>
              <div class="item active">
                <%= image_tag picture.url%>
              </div>
            <% else %>
              <div class="item">
                <%= image_tag picture.url%>
              </div>
            <% end %>            
          <% end %>
        </div>
        <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- End Variable Carousel -->







<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<p>
  <strong>Property:</strong>
  <%= @listing.property %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @listing.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @listing.bathroom %>
</p>

<p>
  <strong>Max People:</strong>
  <%= @listing.max_people %>
</p>

<p>
  <strong>Facilities:</strong>
  <%= @listing.facilities %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>



<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %> |
<%= link_to 'Reservation', new_reservation_path(listing_id: @listing.id) %>
